<div class="page-header">
    <h1>{{ page.title }} {{ if page.description }}<small>{{ page.description }}</small>{{ endif }}</h1>
</div>
<div class="post-date">
    {{ page.date | date_to_long_string }}
</div>
<div class="post">
  {{ content }}
</div>
<div class="comments">
    {% include JB/comments %}
</div>
  
<div class="tags">
    {% unless page.tags == empty %}
        <ul class="tag_box">
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        </ul>
    {% endunless %}  
</div>
