<div class="post-page-wrapper-inner">
    <div class="post-page-wrapper-inner">
        <div class="post-author-side">
            <div class="post-author-card">
                <div class="post-published-date">
                    <strong>Published</strong>
                    <p><time class="post-date wf">{{ page.date | date_to_long_string }}</time></p>
                </div>

                <div class="post-btn-actions">
                    <a class="btn btn-edit" href="https://github.com/jeremymarc/jeremymarc.github.com/edit/master/_posts/{{ page.url | remove_first: '/' | replace:'/','-' }}.md"> Edit this page</a>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="{% for t in page.tags %} {{t}}{% endfor %}">Tweet</a>
                    <a href="https://twitter.com/jeremymarc" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @jeremymarc</a>
                </div>
            </div>
        </div>
        <div class="post-content">
            <a class="back btn-back" title="Back to homepage" href="/">&laquo; back</a>
            <header class="post-header">
                <h1 tabindex="1" class="post-title">{{ page.title }}</h1>
            </header>
            <div tabindex="2" class="post-field body">
                {{ content }}
            </div>

            <div class="post-actions" tabindex="3">
                <a href="https://twitter.com/jeremymarc"
                    class="twitter-follow-button"
                    data-show-count="false"
                    data-size="large">Follow @jeremymarc</a>

                <a href="https://twitter.com/share"
                    class="twitter-share-button"
                    data-size="large"
                    data-hashtags="{% for t in page.tags %} {{t}},{% endfor %}">Tweet</a>
            </div>

            <div class="post-tags">
                {% unless page.tags == empty %}
                <ul class="tag_box">
                    {% assign tags_list = page.tags %}
                    {% include JB/tags_list %}
                </ul>
                {% endunless %}
            </div>
            <div class="post-comments">
                {% include JB/comments %}
            </div>

            {% if site.posts.length > 1 %}
            <div class="post-list">
                <h2>Other articles</h2>
                <ul>
                    {% for post in site.posts %}
                    {% if post.id != page.id %}
                    <li><a href="{{post.url}}">{{post.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
